body {
  font-family: poppins, sans-serif;
  /* background-color: aqua; */
  margin: 50px;
  display: flex;
  flex-direction: column;
  h1 {
    text-align: left;
  }
  .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    form {
      width: 60%;
      display: flex;
      justify-content: space-around;
      .input_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: blueviolet; */
        button {
          border: 0px solid white;
          border: 0px solid white;
          border-radius: 4px;
          padding: 8px 20px;
          color: white;
          font-weight: 600;
          background-color: #18c4ff;
        }
        input {
          margin: 10px;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #ccc;
        }
      }
    }
    img {
      width: 40%;
      object-fit: contain;
    }
  }
  #book-list {
    /* background-color: red; */
    width: 80%;
    th {
      text-align: left;
      background-color: #00000051;
    }
    td {
      width: 30%;
    }
    tr {
      background-color: rgba(36, 40, 46, 0.265);
    }
    .edit-button {
      margin: 5px;
      padding: 8px 20px;
      border: 0px solid white;
      border-radius: 4px;
      color: white;
      font-weight: 600;
      background-color: #18c4ff;
    }
    .delete-button {
      margin: 5px;
      padding: 8px 20px;
      border: 0px solid white;
      border-radius: 4px;
      color: white;
      font-weight: 600;
      background-color: #cf2547;
    }
  }
}
/*
h1 {
  text-align: center;
}

#book-list {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

form {
  margin: 20px;
  padding: 10px; border: 1px solid #ccc; } */
